



<div class="container header">


 <!--  Header -->
 <div class="background">
   <div class="transbox col-sm-6">
     <% if @trip == nil %>
         <h2> My Trip </h2>
    <% elsif @trip.title == nil %> 
         <h2>From <em><%= @trip.from_city%></em></br> to <em><%= @trip.to_city %></em></h2></br>
    <% else %>
         <h2><%= @trip.title %></h2>
    <% end %>
   
    </div>
  </div>
</div>

<!-- adding to savings and amount saved  -->
 <div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="well one">
     
     <%= form_for :saving, url: trip_savings_path(@trip.id), method: :post do |b| %>
      <%= b.label :"adding to savings"%>
      <%= b.hidden_field :trip_id, :value => @trip.id %>
      <%= b.text_field :amount, placeholder: "50" %>
     <%= b.submit "Register saving", class: "btn btn-primary btn-xs" %>
    <%end%>
         </div>
         <div class="col-xs-12 well two">My progress on the map</div>
       </div>


<!--   displaying the amount saved and other related data -->
    
         <div class="col-xs-6">
            <div class="well three">
                 
                 <strong class="dash">Amount saved so far</strong>: &nbsp &nbsp&nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp$<%=@total_saved %> 
                 &nbsp <i class="icon-flag-checkered"></i> </br>
                 
                  <strong class="dash">Amount left to reach trip cost</strong>: &nbsp
                    <% if @trip.cost != nil %>
                         $<%=@trip.cost - @total_saved  %></br>
                    <%else%>
                     <em> Not available (enter cost first)</em></br>
                   <% end %>
                   <strong class="dash">  Total trip cost</strong>:&nbsp &nbsp&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp 
                     <% if @trip.cost.nil?%>
                          Not entered yet<br>
                    <%else%>
                        $<%= @trip.cost%></br>
                    <%end%>

                     
                  <strong class="dash">   Average weekly savings</strong>:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp $<%= @weekly_saving_average %></br>
                  <strong class="dash">   Weekly goal</strong>: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp $<%=@weekly_goal %>
                    

                </br>
              </div>
           </div>
         </div>
       </div>
        <div class="clearfix hidden-md hidden-lg"></div>
        <div class="container"> 
         <div class="row"> 
            <div class="col-xs-12 col-md-6">
                <div class="well" id="mapBox"> <div id="thirdMap" class='img-responsive'></div> </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="well mapbox">
                  <div class="col-md-12">
                  <div id="chartContainer"></div>
                  <hr>
                  <div id="chartContainer2"> </div>
                </div>

            </div>
        </div>  
    </div>

<!-- he 4 forms for origin and departure city, cost, deparrture date and title-->
<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="well">
              
      <%= form_for :trip, url: user_trips_path(current_user.id), method: :post  do |f| %>
          <%= f.label :'Starting point' %>
          <%= f.text_field :from_city, id:"start", placeholder: " San Franciscon, US" %></br></br>
          <%= f.label :'Final Destination' %>
          <%= f.text_field :to_city, id: "end", placeholder: " Paris, France" %></br></br>
       <%= f.submit "Enter cities", class: "btn btn-info btn btn-xs", id: "show_map" %>
        <%end%>
       <!--  button to trigger cities modal -->
       <a href="#myModal" role="button"  class="btn" data-toggle="modal">Update this trip</a>
       <%= button_to "delete current trip", {controller: :trips, action: :destroy, id: @trip.id }, :method => :delete %>
       <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Update your trip</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "/users/update_starting_ending_city_form.html.erb" %>
      </div>
    
    </div>

  </div>

</div>



      
        </div>
      </div>
            <div class="col-sm-6 col-md-3">
                <div class="well">
    <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
      <%= f.label :'Cost of the trip' %>
      <%= f.text_field :cost, placeholder: "1200 " %></br></br>
      <% if @trip.cost == nil %>
      <%= f.submit " Enter trip cost", class: "btn btn-info btn btn-xs trip_cost" %>
      <% else %>
        <%= f.submit "Edit trip cost", class: "btn btn-info btn-xs trip_cost"%>
      <% end %>
      <%end%></div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="well">
    <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
 
    <%= f.label :"Planned time of departure or ticket purchase"%>
    <%= f.date_select :start_date, :default => Date.today %></br></br>
     <% if @trip.start_date == nil %>
    <%= f.submit "Enter departure date", class: "btn btn-info btn btn-sm", id: "departure_time" %>
    <% else %>
    <%= f.submit "Edit departure date", class: "btn btn-info btn btn-sm", id: "departure_time" %>
    <%end%>
    <%end%></div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="well">  <%= render partial: "/users/trips_form" %> </div>
            </div>
        </div> 
    </div>
  </div>

 
 
   <center><div id="googleMap" style="width:70%; height:54%"></div></center>

  <!--  activities-->
  <div class="container">
    <div class="well four"> Let's plan </div>
  </div>





<!--   3 boxes with options places to visit, restaurants and hotels, others -->

  <div class="container">
        <div class="row">
         <!--   -->
            <div class="col-sm-4">
                <div class="well" ><%= image_tag('travel3_cut.jpg', class: '
                -responsive places',"data-toggle" => "modal", 'data-target' => '#myModalShowAttract') %><p class="act">Museums & </br>attractions</p>
           
            <!-- Button trigger modal for attraction-->
<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal2">
  Add attraction or museum to trip
</button>
<!-- button trigger modal to display attraction activities -->
<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModalShowAttract">
  Show my selection
</button>

<!-- Modal for attraction form-->

<!--  -->
          </div>


        </div>

         <div class="col-sm-4">
     <!--  begin second image    -->     
                <div class="well"><%= image_tag('restaurant.jpg', class: 'img-responsive places',"data-toggle" => "modal", 'data-target' => '#myModalShowRest') %><p class="act">Hotels & </br>Restaurant</p>

            <!-- Button trigger modal for restaurant/hotels forms-->
<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModalRestForm">
  Add restaurant of hotel to trip
</button>
<!-- <! button trigger modal to display attraction activities --> 
<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModalShowRest">
  Show my selection
</button> 
          </div>
          </div>
                <div class="col-sm-4"&
<!--   start third image    -->         
                <div class="well"><%= image_tag('shopping.jpg', class: 'img-responsive restaurant',"data-toggle" => "modal", 'data-target' => '#myModalShowAttract') %><p class="act">Entertainment & </br>Shopping</p> 

            <!-- Button trigger modal for shopping-->
<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModalShopForm">
  Add shopping or entert. places
</button>
<!-- button trigger modal to display shopping activities -->
<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModalShowRest">
  Show my selection
</button>
</div>
</div>


</div>
</div>
</div>




</div>
</div>


 


<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Attraction or Museum</h4>
      </div>
      <div class="modal-body">
       <%= render partial: "/users/attraction_form"%> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Show Attraction -->
<div class="modal fade" id="myModalShowAttract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Museums and Attractions I have selected</h4>
      </div>
      <div class="modal-body showModal">
        <%= render partial: "/users/show_attraction_activities_form.html.erb"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





           