






 <!--  Header -->
 <div class="background header">
   <div class="transbox col-sm-6 img-responsive">
     <% if @trip == nil %>
         <h2> My Trip </h2>
     <% elsif @trip.title == nil %> 
         <h2>From <%= @trip.from_city%> to <%= @trip.to_city %></h2
     <% else %>
         <h2><%= @trip.title %></h2>
     <% end %>
      <br/>
  </div>
</div>
<br/>
 

<div class="container"><% if !@trip.nil?%>
      
<div id="info"></div> 
<div class='row'>
 
  <div class='col-xs-12 col-md-3 suggestions well'>
    <span id='suggest'>Suggestions</span><br/><br/>
     <a id='hotellink'><i class="fa fa-home fa-3x"></i> Lodging </a> &nbsp &nbsp<span id='hotelnum'> </span></br><br/>
    <a id='restaurantlink'><i class="fa fa-cutlery fa-2x"></i>&nbsp Restaurant</a> &nbsp &nbsp<span id="restaurantnum"></span><br/><br/>
    
    <a id='sightlink'><i class="fa fa-picture-o fa-3x "></i>&nbsp Sights</a>&nbsp &nbsp <span id="sightnum"></span><br/>
  </div>
   <div class='col-xs-12 col-md-8 col-md-offset-1 imdiv offset-1'><img id="destimage"></div>
  

</div>

 <% end %>
</div>

<!-- if saving goal reached, congratulate user -->
<% if (!@trip.cost.nil?) && (@trip.cost - @total_saved <= 0) %>
<div class="container">
  <div class="col-sm-12">
     <img src="http://1.bp.blogspot.com/-XCEkcN6dT4s/T47KD85BV6I/AAAAAAAAACk/NPO2o3je3bc/s1600/Congratulations+Airplane.jpg" id="congrats" class="img-responsive">
 <div id="reachedgoal"> You did it!<br/> You have reached your saving goal!! <br/>


 </div>
</div>
</div>
<% end %>

<!-- div for a user that hasn't entered any trip yet -->
<% if current_user.trips.empty? %>
  <div class="container containera">
        <div class="row">
            <div class="col-xs-12">
                <div class="well firstuser">
                              
      <%= form_for :trip, url: user_trips_path(current_user.id), method: :post  do |f| %>
      <div id="center">My Trip</div> <br/>
          <%= f.label :'Starting point' %>
          &nbsp &nbsp &nbsp &nbsp<%= f.text_field :from_city, id:"start", placeholder: " San Francisco, USA" %></br>
          <%= f.label :'Final Destination' %>
          &nbsp<%= f.text_field :to_city, id: "end", placeholder: " Paris, France" %></br></br>
       &nbsp<%= f.submit "Enter cities", class: "btn btn-primary btn btn-lg",id: 'first'  %> <br/><br/></br>
        <%end%>
                </div>
            </div>
          
        </div>  
    </div>

<%  end %>

<!-- div to enter the cost of you trip for first user, as well as the date --> 
<% if !current_user.trips.empty? && ( @trip.cost.nil? || @trip.start_date.nil?) || @trip.title.nil? %>
  <div class="container containera">
        <div class="row">
            <div class="col-xs-5 col-sm-4">
              <% if @trip.cost.nil? %>
                <div class="well firstuser2"> 

      <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
      <%= f.label :'How much do you think your trip will cost?' %><br/>
      <%= f.text_field :cost, placeholder: "1200 ", id: "cost" %></br></br>
      <% if @trip.cost == nil %>
      <%= f.submit " Enter trip cost", class: "btn btn-primary btn-md trip_cost" %>
      <% else %>
        <%= f.submit "Edit trip cost", class: "btn btn-primary btn-md trip_cost"%>
      <% end %>
      <%end%></div>
      <% end %>
            </div>
            <div class="col-xs-7 col-sm-4">
               <% if @trip.start_date.nil? %>
                <div class="well" id="firstUserDate">
       <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
 
    <%= f.label :"What day are you saving for?", id: 'dateLabel'%><br/><br/>
    <%= f.date_select :start_date, :default => Date.today %></br></br>
     <% if @trip.start_date == nil %>
    <%= f.submit "Enter date", class: "btn btn-primary btn btn-md", id: "departure_time" %>
    <% else %>
    <%= f.submit "Edit date", class: "btn btn-primary btn btn-md", id: "departure_time" %>
    <%end%>
    <%end%>
    <% end %>
                </div>
               
         </div>
         <div class="col-xs-11 col-sm-4">
            <% if @trip.title.nil? %>
                <div class="well" id="firstUserDate">

     <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
     <%=f.label  :"Give this trip a name" %><br/><br/>
      <%= f.text_field :title %></br></br>
       <% if @trip.title == nil %>
       <%= f.submit "Enter trip title", class: "btn btn-primary btn btn-md", id: "show_map" %>
       <% else %>
       <%= f.submit "Edit trip title", class: "btn btn-primary btn btn-md", id: "show_map" %>
       <% end %>
     <% end %>
       <br/>
       <% end %>
                </div>
               
              </div>

        </div> 

    </div>
  <% end %>
<!-- adding to savings and amount saved  -->
 <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="well one">
        <div id="closer">Get closer to your goal!</div> <br/> <br/>      
    <%= form_for :saving, url: trip_savings_path(@trip.id), method: :post do |b| %>
      <%= b.label :"Add to your trip savings", id: "labelsavings"%><br/><br/>
      <%= b.hidden_field :trip_id, :value => @trip.id %>
      <%= b.text_field :amount, placeholder: "50" %>
      <%= b.submit "Register saving", class: "btn btn-md" %>
    <%end%>
    <br/>
         </div>

       
      </div>

<!--   displaying the amount saved and other related data -->
    
         <div class="col-xs-12 col-sm-6">
            <div class="well three">
              <br/>
              <table>
                <tr>
                  <td class="left">Amount saved so far  &nbsp</td>
                  <td class="right">$<%=@total_saved %>&nbsp<i class="icon-flag-checkered">  </td>
                </tr>
                 <tr>
                  <td>Amount left to reach trip cost &nbsp</td>
                  <td class="right">
                   <% if @trip.cost != nil %>
                         <% if @trip.cost - @total_saved > 0 %> $<%=@trip.cost - @total_saved  %> 
                         <% else %>
                           $0.0  &nbsp <i class="fa fa-bullseye"></i>
                          <% end %>

                    <%else%>
                     <em> Not available (trip cost needed)</em>
                   <% end %> </td>
                </tr>
                 <tr>
                  <td>Total trip cost </td>
                  <td class="right">
                   <% if @trip.cost.nil?%>
                          <em>Not entered yet</em>
                    <%else%>
                        $<%= @trip.cost%></br>
                    <%end%> </td>
                </tr>
                <tr>
                </table>
                <hr>
                <table>
                  <td>Saved weekly on average </td>
                  <td class="right"> 
                    <% if @weekly_saving_average == -1 %>
                      <em>Not available </em>
                      <% else %>

                    $<%= @weekly_saving_average %>
                    <% end %> </td>
                </tr>
                <tr>
                  <td> Weekly goal </td>
                  <td class="right">
                     <% if @weekly_goal == -1 %>
                          <em>Not available</em>
                     <% elsif @weekly_goal == -2 %>
                         <em> Past deadline? </em>     
                    <%else%>
                        $<%= @weekly_goal%>
                    <%end%>
                  </tr>
                  <% if !@trip.start_date.nil? %>
                  <tr>
                  <td>Deadline to reach saving goal &nbsp</td>
                  <td class="right"><%= @trip.start_date.ctime.slice(0,10) %>, <%= @trip.start_date.ctime.slice(-4,4)%></td>
                </tr>
                <% end %>
             </table>
                 
           
              </div>
           </div>.
         </div>
       </div>



<!-- map and charts -->

        <div class="clearfix hidden-md hidden-lg"></div>

        <div class="container" id="containera"> 
          <div class="col-xs-12 well two">My progress at a glance</div>
         <div class="row"> 
            <div class="col-xs-12 col-md-6">
                <div class="well" id="mapBox"> <div id="thirdMap" class='img-responsive'></div> </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="well img-responsive" id="chartBox ">
                  <div class="col-md-12" id="chart">
                  <div id="chartContainer"></div>
                  <hr>
                  <div id="chartContainer2"> </div>
                </div>
              </div>

            </div>
        </div>  
    </div>




 
 
   <center><div id="googleMap" style="width:70%; height:54%"></div></center>

  <!--  activities-->
  <div class="container">
    <div class="well four"> Let's plan </div>
  </div>





<!--   3 boxes with options places to visit, restaurants and hotels, others -->

  <div class="container">
        <div class="row">
         <!--   -->
            <div class="col-md-4">
                <div class="well" >
            
                  <span style="cursor:pointer"> 
                  <%= image_tag('travel3_cut.jpg', class: '
                img-responsive places border',"data-toggle" => "modal", 'data-target' => '#myModalShowAttract') %></span>
                
               

                <p class="act">Museums & </br>Attractions</p>
           
            <!-- Button trigger modal for attraction-->
<button class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal2">
  Add 
</button>
<!-- button trigger modal to display attraction activities -->
<button class="btn btn-md r" data-toggle="modal" data-target="#myModalShowAttract">
  Show
</button>

          </div>
       </div>

         <div class="col-md-4">
     <!--  begin second image    -->     
                <div class="well"><span style="cursor:pointer"><%= image_tag('restaurant.jpg', class: 'img-responsive places border',"data-toggle" => "modal", 'data-target' => '#myModalshowhotel') %></span>
               
             <p class="act">Hotels & </br>Restaurants
                </p>

            <!-- Button trigger modal for restaurant/hotels forms-->
<button class="btn btn-info btn-md" data-toggle="modal" data-target="#myModalhotelform">
  Add
</button>
<!-- <! button trigger modal to display attraction activities --> 
<button class="btn btn-md r" data-toggle="modal" data-target="#myModalshowhotel">
  Show
</button> 
          </div>
          </div>
                <div class="col-md-4">
<!--   start third image    -->         
                <div class="well"><span style="cursor:pointer"><%= image_tag('shopping.jpg', class: 'img-responsive restaurant',"data-toggle" => "modal", 'data-target' => '#myModalshowshopping') %></span>
              <p class="act">Entertainment & </br>Shopping</p> 

            <!-- Button trigger modal for shopping-->
<button class="btn btn-info btn-md" data-toggle="modal" data-target="#myModalshoppingform">
  Add 
</button>
<!-- button trigger modal to display shopping activities -->
<button class="btn btn-md r" data-toggle="modal" data-target="#myModalshowshopping">
  Show 
</button>
</div>
</div>


</div>
</div>
</div>
</div>
</div>
<!-- useful links -->
<div class="container">
    <div class="well four"> Useful links </div>
   </div>
  <!-- useful links box
 -->
 <div class="container">
    <div class="well links "> 
      <div>
        <!-- Button trigger modal -->
<button class="btn btn-lg " data-toggle="modal" data-target="#myModallinks" id="floatleftlink">
  Add links
</button><a href="http://www.tripadvisor.com/"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSvrQh5e-sIX2rm6bytf0PREvUXh77AOgViSH8CEsNovYVc7fuSAQ" id="tripadvisor"></a> &nbsp <a href="http://www.lonelyplanet.com/"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQjKL2sUBR8hq9R9DA0Zaco2j6SBn1zBDIcfJTRiUTmSaWVigVA" id="lonelyplanet"></a><br/><br/></div>




<!-- display links -->
<ul id="links">
  <% if !@main_activity.nil? %>
<% @main_activity.links.each do |link| %>

 <li><div id="left"><%= link_to link.title, link.content, class: "links" %> &nbsp &nbsp</div> <%= button_to "delete link",{controller: :links, action: :destroy, id: link.id }, :method => :delete,class: 'btn btn-xs btn-default', id: 'link' %></li></br> 
<% end %>
<% end %>
</ul>

 
    </div>
</div>

<!-- he 4 forms for origin and departure city, cost, deparrture date and title-->



<div class="container">
        <div class="row">
         <!--   -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="well" id="form" >
              
      <%= form_for :trip, url: user_trips_path(current_user.id), method: :post  do |f| %>
          <%= f.label :'Starting point' %>
          <%= f.text_field :from_city, id:"start", placeholder: " San Francisco, USA" %></br>
          <%= f.label :'Final Destination' %>
          <%= f.text_field :to_city, id: "end", placeholder: " Paris, France" %></br>
       <%= f.submit "Enter Cities", class: "btn btn-info btn btn-md", id: "show_map", data: { confirm: "Are you sure you want to start a totally new trip? By clicking on this button, the data about your savings for this trip will be lost.  If you want to transfer the savings to a new trip, just update your current trip by clicking the button 'update' and filling the form that will pop up" } %> <a href="#myModal" role="button"  class="btn" id="update" data-toggle="modal">Update trip</a>
        <%end%>
      

       <%= button_to "Delete current trip", {controller: :trips, action: :destroy, id: @trip.id }, :method => :delete,  data: { conm: "Are you sure?" }, class: "btn brn-default btn-md" %>
      


    




       </div>
      </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="well" id="form">
    <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
      <%= f.label :'Cost of the trip' %><br/><br/>
      <%= f.text_field :cost, placeholder: "1200 " %></br></br>
      <% if @trip.cost == nil %>
      <%= f.submit " Enter trip cost", class: "btn btn-info btn btn-md trip_cost" %>
      <% else %>
        <%= f.submit "Edit trip cost", class: "btn btn-info btn- md trip_cost"%>
      <% end %>
      <%end%><br/></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="well" id="form">
    <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
 
    <%= f.label :"Date when total needs to be saved"%><br/><br/>
    <%= f.date_select :start_date, :default => Date.today %></br></br>
     <% if @trip.start_date == nil %>
    <%= f.submit "Enter departure date", class: "btn btn-info btn btn-md", id: "departure_time" %>
    <% else %>
    <%= f.submit "Edit departure date", class: "btn btn-info btn btn-md", id: "departure_time" %>
    <%end%>
    <%end%></div>
            </div>
            <div class=" col-xs-12 col-sm-6 col-md-3">
                <div class="well" id="form">  <%= render partial: "/users/trips_form" %> </div>
            </div>
        </div> 
    </div>


<!-- Modal links-->
<div class="modal fade" id="myModallinks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add link</h4>
      </div>
      <div class="modal-body">
      <%= render partial: "/users/add_link_form.html.erb" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


       <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
        <h4 class="modal-title" id="myModalLabel">Update cities</h4>
      </div>
      <div class="modal-body">
      <%= render partial: "/users/update_starting_ending_city_form.html.erb" %>
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalshoppingform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add shopping or entertainment places</h4>
      </div>
      <div class="modal-body">
        <%= render partial: '/users/shopping_form'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalshowshopping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Shopping and entertainment places I selected</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "/users/show_shopping"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal hotel show -->
<div class="modal fade" id="myModalshowhotel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Hotels and restaurants I have selected</h4>
      </div>
      <div class="modal-body">
         <%= render partial: "/users/show_hotel"%>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <!-- Modal hotel form -->
<div class="modal fade" id="myModalhotelform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add restaurant or hotel</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "/users/hotel_form"%>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Attraction or Museum</h4>
      </div>
      <div class="modal-body">
       <%= render partial: "/users/attraction_form"%> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Show Attraction -->
<div class="modal fade" id="myModalShowAttract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Museums and Attractions I have selected</h4>
      </div>
      <div class="modal-body showModal">
        <%= render partial: "/users/show_attraction_activities_form.html.erb"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
 //function to get first url in image data

var graburl = function(str){
  var prefix = ',//images-resrc.staticlp.com/C';
  var arr = str.split(prefix);
  return arr[0];
}
   

 // Data and done callbacks

    var dataCallback = function(data) {
      console.log("Data received", data);

   var graburl = function(str){
      var prefix = ',//images-resrc.staticlp.com/C';
      var arr = str.split(prefix);
      return arr[0];
   };

  

     
      var d = data[0];

       //this is an array of the images;
      var theurl = d.data['image'];

    
     
     
     $('#hotellink').attr('href', d.data['hotels']);
     $('#hotelnum').append(' (' + d.data['hotelnum'] + ')');
     $('#restaurantlink').attr('href', d.data['restaurants']);
     $('#restaurantnum').append(' (' + d.data['restaurantnum'] + ')');
     $('#sightlink').attr('href', d.data['sights']);
     $('#sightnum').append(' (' + d.data['sightnum'] + ')');
     //  $('#entertlink').attr('href', d.data['sights']);
     // $('#entertnum').append(' (' + d.data['entertainmentnum'] + ')');
     // console.log(d.data['entertainment']);
  
    
     
     $('#destimage').attr('src', theurl[0]);


     
   
 
  
  

     // $('#info').append("<a href=d.data['hotels']>" + "hotels in " + gon.finish + "</a>")
     
    // for (var k in d.data) {
      
    //   $('#info').append("<i>" + k + "</i>: " + d.data[k] + "<br />");

    
    // }
    }
    var doneCallback = function(data) {
      console.log("Done, all data:", data);
    }

// 3. Do the query (when the function is called)
    var doQuery = function() {
      // Query for tile lonelyplanet
      importio.query({
        "connectorGuids": [
          "05e35c2b-9ec4-4437-bab5-daec9c76f788"
        ],
        "input": {
          "city": gon.finish
        }
      }, { "data": dataCallback, "done": doneCallback });
   }
   this.doQuery();
  </script>

      