
<div class="container">
<div id="tripTitle">
   <% if @trip == nil %>
    <h2> My Trip </h2>
    <% elsif @trip.title == nil %> 
    <h2>From <em><%= @trip.from_city%></em> To <em><%= @trip.to_city %></em></h2></br>
    <% else %>
    <h2><%= @trip.title %></h2>
    <% end %>
</div>
<div class="itinerary">
   <%= form_for :trip, url: user_trips_path(current_user.id), method: :post  do |f| %>
      <%= f.label :'Starting point' %>
      <%= f.text_field :from_city, id:"start", placeholder: " San Franciscon, US" %>
      <%= f.label :'Final Destination' %>
      <%= f.text_field :to_city, id: "end", placeholder: " Paris, France" %>
       <%= f.submit "Save trip", class: "btn btn-danger btn btn-xs", id: "show_map" %>
   <%end%><br/>

    <%= form_for @trip, url: user_trip_path(current_user.id,@trip.id), method: :patch  do |f| %>
      <%= f.label :'Cost of the trip' %><em> (no comma)</em>
      <%= f.text_field :cost, placeholder: "1200" %>
      <% if @trip.cost == nil %>
      <%= f.submit " Enter trip cost", class: "btn btn-danger btn btn-xs trip_cost" %>
      <% else %>
        <%= f.submit "Update trip cost", class: "btn btn-danger btn-xs trip_cost"%>
      <% end %>
      <%end%>
</div>
 <div class="container">


     <%= form_for :saving, url: trip_savings_path(@trip.id), method: :post do |b| %>
      <%= b.label :"adding to savings"%><em> (in dollars)</em>
      <%= b.hidden_field :trip_id, :value => @trip.id %>
      <%= b.text_field :amount, placeholder: "50" %>
      <%= b.submit "Register amount added", class: "btn btn-danger btn-xs" %>
    <%end%> 

   <div id="thirdMap" class='img-responsive col-sm-12 col-md-6'></div> 
   <div class="col-sm-12 col-md-6">
    

   </div>

   </tr>

    
        
    <%= render partial: "/users/trips_form" %> 
</div>

</div>


<!-- charts -->
<div class="container">
    <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
   
  <div id="chartContainer2" style="height: 300px; width: 100%;">
  </div>
  </div>
   
   
   <center><div id="googleMap" style="width:70%; height:54%"></div></center>

     

   </div>
   



